@import '@styles/theme.module.scss';

.root {
}
.grid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 20px;
}
.img1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.img2 {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}
